.bookDataContainer {
  width: max-content;
}

h2 {
  margin-bottom: 2rem;
}

fieldset {
  margin-bottom: 2rem;
}

mat-form-field.mat-form-field,
button {
  font-size: 1rem;
}

.dataForm__btn {
  padding: 10px;
  width: 100%;
}
