<section>
  <h2>Add details of the book you read</h2>
  <form>
    <fieldset class="author">
      <legend>Author</legend>
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
      </div>
      <div>
        <label for="surname">Surname</label>
        <input type="text" name="surname" id="surname">
      </div>
    </fieldset>
    <fieldset class="book">
      <legend>Book</legend>
      <div>
        <label for="title">Book title</label>
        <input type="text" name="title" id="title">
      </div>
      <div>
        <label for="publication">Publication date</label>
        <input type="number" name="publication" id="publication">
      </div>
    </fieldset>
    <button type="button">Add book to shelf</button>
  </form>
</section>
