<section class="bookDataContainer">
  <h2 class="bookDataTitle">Add info about the book</h2>
  <form class="dataForm">
    <fieldset class="dataForm__author author">
      <legend>Author</legend>
      <div class="author__name">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Walter">
        </mat-form-field>
      </div>
      <div class="author__surname">
        <mat-form-field appearance="outline">
          <mat-label>Surname</mat-label>
          <input matInput placeholder="Scott">
        </mat-form-field>
      </div>
    </fieldset>

    <fieldset class="dataForm__book book">
      <legend>Book</legend>
      <div class="book__title">
        <mat-form-field appearance="outline">
          <mat-label>Book title</mat-label>
          <input type="text" matInput placeholder="Rob Roy">
        </mat-form-field>
      </div>
      <div class="book__publication">
        <mat-form-field appearance="outline">
          <mat-label>Publication date</mat-label>
          <input matInput type="number" max="2022" value="1817">
        </mat-form-field>
      </div>
    </fieldset>

    <button mat-stroked-button class="dataForm__btn">Add book to shelf</button>
  </form>
</section>
